@(proposalForm: Form[ProposalVM], username: String, isAlert: Boolean)

@dashboardLayout("Nouvelle Proposition")(username) {
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	
	@if(isAlert) {
		<div class="alert alert-success" role="alert"> Votre Proposition a bien été enregistrée</div>
	}	
	
	<div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h3>Redaction d'une nouvelle proposition</h3></div>
                
                <form method="post" action="@routes.ProposalController.addProposalAction">
                    <div class="container divProposition">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Titre Proposition</label>
                            <input type="text" class="form-control" name="proposalName" id="exampleInputEmail1"
                                   placeholder="Titre de la proposition">
                        </div>
                        <div class="form-group">
                            <label for="assignedWriter">Proposer Redacteur</label>
                            <input type="text" class="form-control" name="proposedWriter" id="assignedWriter"
                            	placeholder="Redacteur">
                        </div>
                        <div class="form-group">
                            <label for="inputCanal">Proposer Canal</label>
                            <select id="inputCanal" class="form-control" name="proposedChannel">
                                <option></option>
                                <option>Facebook</option>
                                <option>Twitter</option>
                                <option>Mailing List</option>
                            </select>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary" id="save">Enregistrer</button>
                            <button type="submit" class="btn btn-primary" id="saveAndRedact">Enregistrer et rediger contenu</button>
                        </div>
                    </div>
                </form>

            </div>

}