@(proposalContentVM: ProposalContentVM)

<p>title: @proposalContentVM.getTitle()</p>

<p>conten: @proposalContentVM.getContent()</p>

<p>link: @proposalContentVM.getLink()</p>

<p>image: @proposalContentVM.getImage()</p>

<p>date: @proposalContentVM.getDate()</p>

<p>place: @proposalContentVM.getPlace()</p>

<p>media: @proposalContentVM.getMedia()</p>

<p>isTwitterSelected: @proposalContentVM.getTwitterSelected()</p>

<p>isFacebookSelected: @proposalContentVM.getFacebookSelected()</p>

<p>isMailingListSelected: @proposalContentVM.getMailingListSelected()</p>